* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: #fb8500;
    --white: #fff;
    --black: #000;
    --yellow: #ffb703;
    --dark-blue: #040535;
}

html {
    scroll-behavior: smooth;
}

 body {
     font-family: 'Inter';
     background-color: var(--white);
     color: var(--black);
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 /* Styles for the header element */
 header {
     background-color: #333;
     color: #fff;
     padding: 10px;
     width: 100%;
 }

 /* Styles for the main content */
 main {
     width: calc(70% - 10px);
 }

 /* Styles for the sidebar */
 aside {
     height: calc(100%);
     width: calc(30% - 10px);
     background-color: #eee;
     border: #000 2px solid;
    height: 100%;
    overflow: auto;
    padding: 10px 2rem;
 }
 aside h3{
    cursor: pointer;
 }

 /* Styles for links */
 a {
     color: #0077cc;
     text-decoration: none;
     display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
 }

 a:hover {
     text-decoration: underline;
 }

/* folder */
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }

  li {
      padding: 5px 0;
    cursor: pointer;
  }

  .folder {
      display: flex;
      align-items: center;
      padding: 5px 0;
  }

  .folder i {
      margin-right: 5px;
  }

  .folder span {
      font-weight: bold;
  }

  hr {
      border: none;
      border-top: 1px solid #ccc;
      margin: 10px 0;
  }
  ul ul {
      display: none;
      
  }

  ul ul.open {
      display: block;
  }

 /* newNoteDiv */
.newNoteDiv{
    width: 100%;
    height: 100%;
    border: 2px solid red;
}
.newNoteDiv textarea{
    width: 100%;
    height: 100%;
    background-color: #0077cc;
}


/* footer */
footer{
    width: 100%;
    border: 2px saddlebrown solid;
}






