/*  */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    margin: 0;
    padding: 0;
}

:ROOT {
    --gold: #FDBE39;
    --white: #fff;
    --black: #000;
}

body {
    font-family: 'EB Garamond', serif;
    /* margin-bottom: 2rem; */
}


.container {
     max-width: 800px;
    margin: 1rem auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    color: #333;
    margin-top: 0;
}

p {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
    color: #333;
    display: inline-block;
    width: 150px;
}

.info {
    display: inline-block;
    color: #666;
}
button{
  border: var(--gold) 2px solid;
  padding: 0.5rem 1rem;
  background-color: transparent;
  font-weight: bold;
}

/*  */


.container- {
    max-width: 800px;
    margin: 1rem auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    color: #333;
    margin-top: 0;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

button[type="submit"] {
    background-color: #4CAF
}