  
  
  /*  */
  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

  * {
      margin: 0;
      padding: 0;
  }

  :ROOT {
      --gold: #FDBE39;
      --white: #fff;
      --black: #000;
  }

  body {
      font-family: 'EB Garamond', serif;
      /* margin-bottom: 2rem; */
  }
  
  
  #searchContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding:0.5rem 1rem;
        gap: 10px;
      }
      #searchInput, select {
        /* flex: 1; */
        /* margin-right: 10px; */
        width: 300px;
        padding: 0.3rem 0;
        border: var(--gold) 2px solid;
      }
      #searchButton {
        margin-right: 10px;
        padding: 0.4rem 0.7rem;
        border: var(--gold) 2px solid;
        background-color: transparent;
      }
      #resultsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* border: 2px solid red; */
      }
      .resultCard {
        width: 200px;
        margin: 10px;
        border: 1px solid #ccc;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }
       .resultCard i{
        position: absolute;
        top : 30px;
        right: 20px;
       }
      .resultCard img {
        max-width: 100%;
        margin-bottom: 10px;
      }
      .resultCard h4 {
        margin: 0;
        font-size: 1.2em;
        text-align: center;
      }
      .resultCard p {
        margin: 0;
        font-size: 0.9em;
        text-align: center;
        color: #666;
      }
      h2{
        padding: 1rem;
        text-align: center;
      }

      .resultCard i{
      padding: 0.5rem;
      background: #666;
      color: #FDBE39;
      border-radius: 50%;
      opacity: .8;
    }
    .resultCard:hover i{
      opacity: 1;
    }
      


      @media (max-width:750px) {
        .resultCard{
            width: 120px;
        }
        #searchInput, select {
            width: 150px;
        }
 
        #searchInput, select {
            width: 90%;
            margin: 7px 0;
        }
        #searchButton{
            width: 90%;
        }
        h4{
            font-size: 13px !important;
        }
      }

      @media (max-width:570px) {
            #searchContainer {
        /* display: grid;
        width:  95%;
        justify-content: none;
        align-items: center;
        margin: 0px auto;
        padding:0;
        gap:0 10px; */
        display: block;
        margin: 5px 0;
      }
      }